# Compiled class file
*.class
gotools.iml

# Log file
*.log

# BlueJ files
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.zip
*.tar.gz
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/chc2go.iml
target/
data/
target/generated-sources/
target/generated-test-sources/
.idea/
gotools_results.txt
/splice-relevant-genes.txt
/go2ic.txt
/splicing-relevant.tex
